.body{
    background-color: crimson;
}
.heading{
    text-align: center;
    color: beige;
    font-size: 40px; 
}
th,td{
    border:1px solid rgb(188, 216, 235);
    width:300px;
    height: 30px;
    background-color: azure;
}
.container{
    width: 360px;
    height: 430px;
    margin:auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(143, 79, 92);
    box-shadow: 2px 2px  rgb(87, 38, 48);
}
.form{
    margin-top: 30px;
    align-items: center;
    color: rgb(214, 195, 195);
}
#btn{
width: 188px;  
height: 25px;    
display: grid;
color:whitesmoke;
background-color: rgb(71, 3, 16);
box-shadow: 1px 1px gray; 
text-align: center;
font-size: 15px;

}
#label{
    width: 180px;
    display: inline-block;
    margin-left: 1px;
}
input{
    width:180px;
    box-shadow: 1px 1px gray;
}
#d p{
    color:white;
    margin-left: 500px;
    justify-content: center;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#d th,td{
    width:216px;
    height: 30px;
    background-color: azure;
    text-align: center;
    padding: none;
}
#d button{
    width:180px;
    height: 30px;
    background-color: crimson;
    color: whitesmoke;

}
